*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container begins* */
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* container ends* */
/* *header begins */
header{
    z-index: 2;
    position: fixed;
    width: 100%;
}
.headerone{
    background-color: #0A0A23;
    display: flex;
    justify-content: space-around;
    padding: 0px 15px;
    align-items: center;
}
.headertwo{
    background-color: #002EAD;
    height: 35px;
    text-align: center;
    padding: 5px;
}
.headertwo a{
    color: white;
}
.headertwo p {
    color: white;
}
.headerone .input{
	margin: 0 50px;
	display: contents;
	position: relative;
	display: none;
	position: relative;
}
input::placeholder{
    color: #b2b2ba;
    font-size: 14px;
    padding: 0 3rem;
   }
   
   .input input{
	   background-color: rgb(59,59,79);
	   margin: 0 30px;
	   width: 450px;
	   height: 32px;
	}
	.search{
	 position: absolute;
	 left: 96px;
	}
	.frontendimg{
    display: none;
    width: 100%;
}

.frontendimg img {
    width: 100%;
    margin-bottom: 80px;
}
.last{
    margin-left: 165px;
}
.last .forum{
    display: none;
}
.last button{
    background-color: #FFBC3F;
    width: 92.84px;
    font-family: sans-serif 18px;
    margin: 0px 10px 0px auto;
    height: 28px;
    padding: 0px 5px;
  
}
.headerone .middle img{
    width: 200px;
}

/* *header ends */
/* *main begins */
main{
    flex: 1;
    margin-top: 100px;
    width: 88vw;
    margin: auto;
    margin-top: 100px;
}
.content{
    padding: 20px;
}
.content h1{
    font-size: 32px;
    padding: 5px 0 0 0;
}
.content1{
    font-family: sans-serif 12px;
    font-size: small;
    margin: 0 0 39px;
   
}
.content1 .html{
    font-size: small;
    color: #002EAD;
}
.content2 p{
    margin: 0 0 35px;
}
.content2 .firstp{
    margin: 0 0 35px;
    font-size: 24px;
}
.content2 .secondp, .thirdp{
    margin: 0 0 28px;
    font-size: 19px;
}
.author{
    margin: 0 0 15px;
    position: relative;
}
.open{
    position: absolute;
    left: 80px;
    top: 20px;
}
.author img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.author a{
    top: 313px;
    text-decoration: none;
    color: #1B1B32;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.content3 ul{
    padding: 0 28px 0 24px;
}
.content3 li:first-child{
   margin: 0 0 9px;
   padding: 0 0 5.7px;
}
.content3 li{
   margin: 9px 0;
   padding: 0 0 5.7px;
}
iframe{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 
.video{
    position: relative;
    width: 100%;
    padding-bottom: 52.65%;
  }

.endmain hr{
    margin: 70px 0 20px 0;
    color: #E7E7EA;
}
.endmain img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.write a{
    text-decoration: none;
    color: black;
}
.author2{
    margin-bottom: 10px;
    position: relative;
}
.write{
    position: absolute;
    top: 2px;
    left: 80px;
    padding: 0 12px 0 0;  
}
.button8, .button9{
    border: black 2px solid;
    padding: 5px 20px;
    background-color: #DFDFE2;
    font-family: 'Lato', sans-serif;
}
 figure{
    width: 80%;
} 
figure img{
        width: 100%;
}
figcaption {
    margin: auto;
    margin-top: 0.7rem;
    width: fit-content;
}
/* main ends */
/* footer begins */
footer {
    position: relative;
    color: #1b1b32;
    background: #eeeef0;
    line-height: 1.6;
}

.footer-container {
	padding: 30px 25px;
    font-size: 16px;
    overflow-x: hidden;
}

h4.trending {
    font-size: 16px;
    text-align: center;
    padding: 0 15px 15px;
    margin-top: 32px;
}

.donate-link {
    font-size: 18px;
}

.donate-link a {
    font-size: 18px;
    text-decoration: underline;
}

.trending-guides {
    display: flex;
    flex-direction: column;
}

.col,
.col-3-left,
.col-3-right {
	display: flex;
    flex-direction: column;
}

.col a {
	padding: 5px 0;
}

.charity-links {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charity-links a {
	padding: 5px 10px;
}

.footer-top + hr {
	display: none;
}
/* *footer ends */

/* *media screen  */
@media screen and (width >=500px) {
    .last .forum{
        display: contents;
        color: white;
        font-size: 20px;
        margin-right: 70px;
    }
    .last{
        margin-left: 30px;
        display: flex;
        justify-content: space-around;
        width: 200px;
        align-items: center;
        padding: 10px 0 10px 0;
    }
    .trending-guides {
        flex-flow: row wrap;
    }

    .col-1,
    .col-2 {
		flex: 1 0 45%;
    }

    .col-3 {
        flex: 1 0 100%;
        flex-direction: row;
    }

    .col-3-left,
    .col-3-right {
		flex: 1 0 45%;
    }
    .last button{
        background-color: #FFBC3F;
        width: 95.84px;
        font-family: sans-serif 18px;
        margin: 0px 10px 0px auto;
        height: 30px;
        padding: 0px 5px;
    }
    .headertwo p a, .headertwo p{
        font-size: 20px;
        color: white;
        font-family: 'Lato', sans-serif;
    }
}    

@media screen and (width >=801px) {
   
    .last{
        display: flex;
        justify-content: space-between;
        margin-left: 300px;     
    }

        .frontendimg{
            display:inline;

        }
        .firstp, .secondp, .thirdp, .content3{
            padding: 0 35px;
            font-size: 20px;
        }
        .content3 ul, p{
            padding: 0 38px 0 24px;
            font-size: 22px;
        }
        .author2 .write p{
            font-size: 16px;
        }
        .footer-container {
            padding:2.3rem 9rem 1rem ;
        }
    
        .col-1,
        .col-2,
        .col-3 {
            flex: 1 0 25%;
        }
    
        .col-1 {
            margin-right: 1rem;
        }
        
        .col-3 {
            flex-direction: column;
        }
    
	}
    

@media screen and (width >= 1200px) {
	.headerone .input{
		display: contents;
	}

    .footer-container {
        padding:1.7rem 5.1rem ;
    }
        
    .footer-top {
        display: flex;
        border-bottom: 1px solid #b2b2ba;
        gap: 1.2rem;
    }
        
    h4.charity {
        display: none;
    }
            
    .footer-desc {
        flex: 1 0 45%;
        margin-bottom: 30px;
    }
        
    .trending-row {
        flex: 1 0 58%;
        margin: 0 0 3rem;
    }
    iframe{ 
        width: 60%;
        height: 60%;
        margin-left: 240px;
    } 
    
        
}